# Binaries
bin/
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test
*.test
*.out
coverage.txt

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Dependencies
vendor/

# Environment
.env
.env.local
*.key
*.pem

# OS
.DS_Store
Thumbs.db

# Generated
# api/proto/**/*.pb.go  (sonra ekle)
# api/proto/**/*_grpc.pb.go

# Databases
*.db
*.sqlite